@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background: url(./images/felt.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
}

.dice {
    display: flex;
    justify-content: center;
}

#diceOne, #diceTwo {
    height:150px;
    width: 150px;
    border-radius: 15px;
}